@import url('https://fonts.googleapis.com/css2?family=Acme&family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
}




.Rectangle2{
        
    width: 60px;
    height: 5px;

    border-radius: 50px;
    background: #E8C300;
    margin:0 auto;
    color: #FFF;
}


